<h2>
  <span>Fact #<%= @quote.id %></span>
</h2>  <br />

<h1 class="col-12 text-center"><%= @quote.saying %></h1> <br />
<%= link_to @quote.source_URL do %>
<h2 class="text-center">- <%= @quote.source %> (<%= @quote.source_year %>)</h2>
<% end %>
<br />
<br />
<%= link_to root_path, :class => "next-quote" do %>
<div class="btn btn-danger col-12 col-md-4 text-center offset-md-4">
  <div>Show me another!</div>
</div>
<% end %>